/* Ensure full screen height */
.app-layout {
    min-height: 100vh;
    background-image: url('img/GameVaultTheme.png');
    background-size: cover;  /* Ensures image covers the entire area */
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px 10px;
}