.app-layout {
    height: 170vh;
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('img/home.jpg');
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
}

.homeChat{
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('img/wasteLand.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;

}

.form-control{
    background-color: rgba(0, 0, 0, 0.5);
    width: 30%;

    border: none;
    padding: 10px 50px;
    margin: 8px 0;
    border-radius: 4px;
    font-weight: bold;
}

.title{
    color: white;
    font-size: 40px;
    font-weight: bold;
}

vaadin-button::part(label){
    color: orange;
    font-weight: bold;
    button-color: orange;
}
vaadin-button{
    background-color: rgba(0, 0, 0, 0.5);
}

vaadin-message::part(message){
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    border-radius: 4px;
    padding: 10px 50px;
    margin: 8px 0;
    font-weight: bold;
}

.videogames-view{
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('img/VideoGameList.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
}
vaadin-grid::part(row){
    font-weight: bold;
    color: #c13500;
}

.videogameGrid {
    min-height: 90vh;
    opacity: 0.5;
}

label{
    color: #f3b600;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}

.saving-videogameview{
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('img/VideoGameStore.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;

}

.nav{
    font-style: italic;
    font-weight:bold;
}
